body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#eef2f6;
}

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:230px;
    height:100%;
    background:#12326b;
    color:white;
}

.sidebar h2{
    padding:20px;
    text-align:center;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
}

.sidebar a:hover{
    background:#1d4fa3;
}

.main{
    margin-left:230px;
}

.topbar{
    background:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:0 30px 30px;
}

.card{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

table{
    width:95%;
    margin:20px;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:15px;
    border-bottom:1px solid #ddd;
}

th{
    background:#12326b;
    color:white;
}
.top-right{

display:flex;

align-items:center;

gap:20px;

}

.top-right input{

padding:10px;

border-radius:5px;

border:1px solid #ccc;

}

.notify{

position:relative;

border:none;

background:white;

font-size:24px;

cursor:pointer;

}

.notify span{

position:absolute;

top:-8px;

right:-8px;

background:red;

color:white;

width:20px;

height:20px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:12px;

}

.profile{

font-weight:bold;

color:#0d47a1;

}

#clock{

font-weight:bold;

}
